.App {
  /* display: flex; */
  min-height: 100vh;
 /* align-items: center;
 text-align: center;*/
  justify-content: center;
  background-image: linear-gradient( #f49cc5, rgb(248, 226, 233) 50%,#f7e4ed);
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 5rem;
    margin: 0.5rem;
  }
}
.header{
text-align: center;
}
.my-logo{  
  margin: auto;
  width: 160px;
  height: 135px;
}

label{
  text-align: left;
  padding: 0.25 rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color:#f49cc5;
  font-weight: 500;
  transition: all 0.5s ease;
}
button:hover {
  background-color: gray;
  color: white;
}

.link-btn {
  background: none;
  color:grey;
  text-decoration: underline;
}

.login{
  color:#787275;
  font-weight: 500;
  float: right;
  margin: 20px;
}


.all-documents {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.card {
  background-color: whitesmoke;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  flex-basis: 30%;
}
.view-more-button {
  margin-top: 6px;
  background-color: whitesmoke;
  float: right;
}
.login:hover {
  color: rgb(164, 23, 89);
  }
.regular:hover{
  color: rgb(164, 23, 89);
}

.nav-bar {
  background-color: #3d343a;
  overflow: hidden;
  margin: 5px 0;

  box-shadow: #3f2d36;

}

.nav-bar-item{
  display: block;
  float: left;
  color: #f7f2f2;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-size: 17px;  
}

.nav-bar-item:hover {
  background-color: rgb(131, 128, 128);
  color: black;
  
  transition: 300ms ease-in-out;
}

.nav-bar-item:active {
  background-color: #ea84ab;
  color: white;
  text-decoration: underline;
}

.change-buttons {
  text-align: right;
  margin-bottom: 50px;
}
.delete-button {
  margin-left: 10px;
}
.deleted-document {
  color: rgb(164, 23, 89);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.unsuccessful {
  color: rgb(164, 23, 89);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.make-edit-doc-success {
  font-weight: 700;
  font-size: 20px;
  color: #148f13;
  text-align: center;
}

.container {
  margin: 40px;
}

 .badge {
  margin-left: 20px;
  padding: 5px;
  background-color: rgb(141, 141, 141);
  border-radius: 3px;
}

.title {
  font-size: 26px;
}

.document-date {
  font-size: 16px;
}

.filter-docs {
  display: inline;
}

.filter-docs-input {
  margin-left: 16px;
}

.create-new-doc {
  float: right;
  margin-right: 15px;
}
.make-doc-input {
  width: 400px;
}

.make-doc-container {
  margin: 0 auto;
  width: 400px;
}

.radio-input {
  margin: 0 8px;
}

.doc-description {
  resize: none;
}

.submit-make-doc {
  width: 50px;
  margin: 20px auto;
}
.nav-bar-item.active {
  background-color:  rgb(131, 128, 128);
  color: #f49cc5;
  font-weight: 700;
  text-decoration: underline;
}
.regular{
  color:#787275;
  font-weight: 500;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color:#f49cc5;
  background: whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
 background: #3d343a;
  color:#f49cc5;
}

.pagination .active {
  background: gray;
  color:#f49cc5;
}

.pagination .active:hover {
  color:#f49cc5;
  background: whitesmoke;
}