.App {
  /* display: flex; */
  min-height: 100vh;
 /* align-items: center;
 text-align: center;*/
  justify-content: center;
  background-image: linear-gradient( #f49cc5, rgb(248, 226, 233) 50%,#f7e4ed);
}

.auth-form-container, .login-form, .register-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 600px){
  .auth-form-container{
    padding: 5rem;
    margin: 0.5rem;
  }
}
.header{
text-align: center;
}
.my-logo{  
  margin: auto;
  width: 160px;
  height: 135px;
}

label{
  text-align: left;
  padding: 0.25 rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color:#f49cc5;
  font-weight: 500;
  transition: all 0.5s ease;
}
button:hover {
  background-color: gray;
  color: white;
}
.disabled-button{
  color:gray;
  transition: none;

}
.disabled-button:hover{
 
  transition: none;
}

.link-btn {
  background: none;
  color:grey;
  text-decoration: underline;
}

.login{
  color:#787275;
  font-weight: 500;
  float: right;
  margin: 20px;
}


.all-documents {
  float: right;
  width:60%;
  padding: auto;
  box-sizing: border-box;
  display: flex; 
  margin: 20px;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 10px;
  border-radius: 0%;
}

.card {
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  flex-basis: 75%;
}
/* .view-more-button {
  margin-top: 6px;
  background-color: whitesmoke;
  float: right;
} */
.login:hover {
  color: rgb(164, 23, 89);
  }
.regular:hover{
  color: rgb(164, 23, 89);
}

.nav-bar {
  background-color: #3d343a;
  overflow: hidden;
  margin: 5px 0;
  box-shadow: #3f2d36;

}

.nav-bar-item{
  display: block;
  float: left;
  color: #f7f2f2;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-size: 17px;  
}

.nav-bar-item:hover {
  background-color: rgb(131, 128, 128);
  color: black;
  
  transition: 300ms ease-in-out;
}

.nav-bar-item:active {
  background-color: #ea84ab;
  color: white;
  text-decoration: underline;
}

.change-buttons {
  text-align: right;
  margin-bottom: 50px;
}
.delete-button {
  margin-left: 10px;
}

.deleted-document {
  color: rgb(164, 23, 89);
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.unsuccessful {
  color: rgb(164, 23, 89);
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}
.make-edit-doc-success {
  font-weight: 700;
  font-size: 20px;
  color: #148f13;
  text-align: center;
}

.container {
  
  margin: 40px; 
  overflow: hidden;
}

 .badge {
  margin-left: 20px;
  padding: 5px;
  background-color: rgb(141, 141, 141);
  border-radius: 3px;
}

.title {
  font-size: 26px;
}

.document-date {
  font-size: 16px;
}

.filter-docs {
  
  display: inline-block;
  width: 90%;
}
.filter-docs label{
  margin-top: 30px;
  display: block;
}
.filter-docs-input {
  
  align-items: center;
  margin-right: 30px;

}

.filter-docs-options {
  display: flex;
  justify-content: center;
  gap: 20px; 
  margin-top: 10px;
}
.filter-docs-option {
  display: flex;
  align-items: center;
}
.filter-docs-input-checkbox{
  
  margin-right: 5px;
  accent-color:#86164c ;
}
.create-new-doc {
  float: none;
  margin-right: 15px;
  margin-top: 50px;
  margin-bottom: 25px;
}

.make-doc-input {
  width: 400px;
}

.make-doc-container {
  margin: 0 auto;
  width: 400px;
}

.radio-input {
  margin: 0 8px;
}

.doc-description {
  resize: none;
}

.submit-make-doc {
  width: 50px;
  margin: 20px auto;
}
.nav-bar-item.active {
  background-color:  rgb(131, 128, 128);
  color: #f49cc5;
  font-weight: 700;
  text-decoration: underline;
}
.regular{
  color:#787275;
  font-weight: 500;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.pagination .page-number {
  font-size: 16px;
  font-weight: 600;
  color:#f49cc5;
  background: whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
 background: #3d343a;
  color:#f49cc5;
}

.pagination .active {
  background: gray;
  color:#f49cc5;
}

.pagination .active:hover {
  color:#f49cc5;
  background: whitesmoke;
}

.upload-page {
  width: 300px;
  margin: auto;
}

.drop-zone {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.drop-zone.drag-over {
  border-color: #000;
}

.file-input {
  display: none;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.file-container {
  margin: 8px 0px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 15px;
  color: white;
  background-color: lightgray;
  position: relative;
}

.remove-file {
  position: absolute;
  right: 10px;
  top: 25%;
  cursor: pointer;
}

.invisible {
  display: none;
}
.disabled-button{
  text-decoration-color: gray;
}
.tag-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px 5px 5px 5px;
}

.tag-search {

  margin-bottom: 10px;
  width: 100%;
  font-size: 16px;
  
}

.tag-label {
  display: flex;
  align-items: center;
  padding: 3px 6px;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
}

.tag-label input[type="radio"] {
  margin-right: 10px;
}

.tag-label input[type="radio"]:checked {
  accent-color: #86164c; 
}

.tag-text {
  font-size: 16px;
}

.tag-text-color {
  color: #000; /* Default text color for tags */
}
/* .tag-container {
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column; 
}

/* Label for each tag */
.tag-label {
  align-items: center; 
  margin: 5px 0; /* Adds space between tags */
  margin-right: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  background-color: #f9f9f9;
  width: fit-content;
}

/* Radio button styling */
.tag-label input[type="radio"] {
  margin-right: 10px; /* Space between radio button and text */
}


.tag-label input[type="radio"]:checked + span {
  accent-color: #86164c;
}
.tag-text-color{
  color: #f49cc5;
} */


.filter-docs{
 
  display:block;
  margin: 30px 5px 5px 5px;
}
.author-container{
  display: flex;
  flex-direction: column;
  
  margin:30px 5px 5px 5px;
}
.author-container select {
  width: 80%;
  padding: 8px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  background-color: white;
  accent-color:#86164c ;

}
.author-container option:hover {
  background-color: #86164c; 
 
  color: white;
}

.author-search{
  display: block;
  width: 80%;
  align-items: center;
}

.side-bar{
  float: left;
  width: 35%; 
  margin-right: 20 px;
  box-sizing: border-box;

}
.error-msg{
  text-align: center;
  font-weight: 700;
  font-size: large;
  color: #4a0829;
}
/* .filter-docs-input #title-of-document{
  width : 80%;
} */